Frontend/Connected Services/BackendReference/BabyHavenService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BabyHaven_Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BabyHaven_Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User_Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Admin" nillable="true" type="tns:Admin" />
      <xs:element minOccurs="0" name="Carts" nillable="true" type="tns:ArrayOfCart" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="Custom_Prods" nillable="true" type="tns:ArrayOfCustom_Prod" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HackFeedbacks" nillable="true" type="tns:ArrayOfHackFeedback" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Register_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_Table" nillable="true" type="tns:User_Table" />
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Table" nillable="true" type="tns:User_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="ArrayOfCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart" nillable="true" type="tns:ArrayOfCart" />
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cart_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cart_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="P_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="U_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Table" nillable="true" type="tns:User_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carts" nillable="true" type="tns:ArrayOfCart" />
      <xs:element minOccurs="0" name="P_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="P_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="P_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Table" nillable="true" type="tns:User_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfCustom_Prod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Custom_Prod" nillable="true" type="tns:Custom_Prod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustom_Prod" nillable="true" type="tns:ArrayOfCustom_Prod" />
  <xs:complexType name="Custom_Prod">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustProd_Id" type="xs:int" />
      <xs:element minOccurs="0" name="CustProd_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order_Table" nillable="true" type="tns:Order_Table" />
      <xs:element minOccurs="0" name="U_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Table" nillable="true" type="tns:User_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Custom_Prod" nillable="true" type="tns:Custom_Prod" />
  <xs:complexType name="Order_Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Custom_Prods" nillable="true" type="tns:ArrayOfCustom_Prod" />
      <xs:element minOccurs="0" name="O_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="O_Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="O_Id" type="xs:int" />
      <xs:element minOccurs="0" name="O_Quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Shipping" type="xs:decimal" />
      <xs:element minOccurs="0" name="O_Tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="O_Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order_Table" nillable="true" type="tns:Order_Table" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardHolder_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Card_Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expiry_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order_Table" nillable="true" type="tns:Order_Table" />
      <xs:element minOccurs="0" name="Pay_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="ArrayOfHackFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HackFeedback" nillable="true" type="tns:HackFeedback" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHackFeedback" nillable="true" type="tns:ArrayOfHackFeedback" />
  <xs:complexType name="HackFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="HF_Hack" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HF_Id" type="xs:int" />
      <xs:element minOccurs="0" name="U_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Table" nillable="true" type="tns:User_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HackFeedback" nillable="true" type="tns:HackFeedback" />
  <xs:complexType name="ArrayOfUser_Table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User_Table" nillable="true" type="tns:User_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser_Table" nillable="true" type="tns:ArrayOfUser_Table" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>