Frontend/Connected Services/BackendReference/BabyHavenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BabyHavenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63329/BabyHavenService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63329/BabyHavenService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63329/BabyHavenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BabyHaven_Database" />
      <xsd:import schemaLocation="http://localhost:63329/BabyHavenService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBabyHavenService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmail" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmin" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AddAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdmin" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AddAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AddAdminTEST_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdminTEST" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AddAdminTEST_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdminTESTResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_SearchUsersByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsersByName" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_SearchUsersByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AddToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToCart" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AddToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetTotalCartPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalCartPrice" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetTotalCartPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalCartPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetAllCartItemsForClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCartItemsForClient" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetAllCartItemsForClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCartItemsForClientResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetCartProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartProducts" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetCartProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantity" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AddRemoveProductFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRemoveProductFromCart" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AddRemoveProductFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRemoveProductFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_RemoveProductFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductFromCart" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_RemoveProductFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductImage" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductImageResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductName" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategory" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDescription" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPrice" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductAvailability" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetProductAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Getallproducts_InputMessage">
    <wsdl:part name="parameters" element="tns:Getallproducts" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Getallproducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallproductsResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_getProductCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductCat" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_getProductCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductCatResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_getSingleProd_InputMessage">
    <wsdl:part name="parameters" element="tns:getSingleProd" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_getSingleProd_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSingleProdResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Addproducts_InputMessage">
    <wsdl:part name="parameters" element="tns:Addproducts" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Addproducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddproductsResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AdminaddProds_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminaddProds" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_AdminaddProds_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminaddProdsResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_RemoveProds_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProds" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_RemoveProds_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProdsResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetCartProductIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartProductIds" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetCartProductIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartProductIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_ProcessCheckout_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCheckout" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_ProcessCheckout_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Checkout_InputMessage">
    <wsdl:part name="parameters" element="tns:Checkout" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Checkout_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Getallitems_InputMessage">
    <wsdl:part name="parameters" element="tns:Getallitems" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_Getallitems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallitemsResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetallInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetallInvoices" />
  </wsdl:message>
  <wsdl:message name="IBabyHavenService_GetallInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IBabyHavenService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/Login" message="tns:IBabyHavenService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/LoginResponse" message="tns:IBabyHavenService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetUser" message="tns:IBabyHavenService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetUserResponse" message="tns:IBabyHavenService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetEmail" message="tns:IBabyHavenService_GetEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetEmailResponse" message="tns:IBabyHavenService_GetEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetAdmin" message="tns:IBabyHavenService_GetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetAdminResponse" message="tns:IBabyHavenService_GetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetClient" message="tns:IBabyHavenService_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetClientResponse" message="tns:IBabyHavenService_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetAllUsers" message="tns:IBabyHavenService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetAllUsersResponse" message="tns:IBabyHavenService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/Register" message="tns:IBabyHavenService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/RegisterResponse" message="tns:IBabyHavenService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/AddAdmin" message="tns:IBabyHavenService_AddAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/AddAdminResponse" message="tns:IBabyHavenService_AddAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAdminTEST">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/AddAdminTEST" message="tns:IBabyHavenService_AddAdminTEST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/AddAdminTESTResponse" message="tns:IBabyHavenService_AddAdminTEST_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsersByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/SearchUsersByName" message="tns:IBabyHavenService_SearchUsersByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/SearchUsersByNameResponse" message="tns:IBabyHavenService_SearchUsersByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/AddToCart" message="tns:IBabyHavenService_AddToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/AddToCartResponse" message="tns:IBabyHavenService_AddToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalCartPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetTotalCartPrice" message="tns:IBabyHavenService_GetTotalCartPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetTotalCartPriceResponse" message="tns:IBabyHavenService_GetTotalCartPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCartItemsForClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetAllCartItemsForClient" message="tns:IBabyHavenService_GetAllCartItemsForClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetAllCartItemsForClientResponse" message="tns:IBabyHavenService_GetAllCartItemsForClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetCartProducts" message="tns:IBabyHavenService_GetCartProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetCartProductsResponse" message="tns:IBabyHavenService_GetCartProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetQuantity" message="tns:IBabyHavenService_GetQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetQuantityResponse" message="tns:IBabyHavenService_GetQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRemoveProductFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/AddRemoveProductFromCart" message="tns:IBabyHavenService_AddRemoveProductFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/AddRemoveProductFromCartResponse" message="tns:IBabyHavenService_AddRemoveProductFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProductFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/RemoveProductFromCart" message="tns:IBabyHavenService_RemoveProductFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/RemoveProductFromCartResponse" message="tns:IBabyHavenService_RemoveProductFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductImage" message="tns:IBabyHavenService_GetProductImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductImageResponse" message="tns:IBabyHavenService_GetProductImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductName" message="tns:IBabyHavenService_GetProductName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductNameResponse" message="tns:IBabyHavenService_GetProductName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductCategory" message="tns:IBabyHavenService_GetProductCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductCategoryResponse" message="tns:IBabyHavenService_GetProductCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductDescription" message="tns:IBabyHavenService_GetProductDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductDescriptionResponse" message="tns:IBabyHavenService_GetProductDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductPrice" message="tns:IBabyHavenService_GetProductPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductPriceResponse" message="tns:IBabyHavenService_GetProductPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetUserName" message="tns:IBabyHavenService_GetUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetUserNameResponse" message="tns:IBabyHavenService_GetUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductAvailability" message="tns:IBabyHavenService_GetProductAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetProductAvailabilityResponse" message="tns:IBabyHavenService_GetProductAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getallproducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/Getallproducts" message="tns:IBabyHavenService_Getallproducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetallproductsResponse" message="tns:IBabyHavenService_Getallproducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/getProductCat" message="tns:IBabyHavenService_getProductCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/getProductCatResponse" message="tns:IBabyHavenService_getProductCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSingleProd">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/getSingleProd" message="tns:IBabyHavenService_getSingleProd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/getSingleProdResponse" message="tns:IBabyHavenService_getSingleProd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addproducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/Addproducts" message="tns:IBabyHavenService_Addproducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/AddproductsResponse" message="tns:IBabyHavenService_Addproducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminaddProds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/AdminaddProds" message="tns:IBabyHavenService_AdminaddProds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/AdminaddProdsResponse" message="tns:IBabyHavenService_AdminaddProds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/RemoveProds" message="tns:IBabyHavenService_RemoveProds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/RemoveProdsResponse" message="tns:IBabyHavenService_RemoveProds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/UpdateProduct" message="tns:IBabyHavenService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/UpdateProductResponse" message="tns:IBabyHavenService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartProductIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetCartProductIds" message="tns:IBabyHavenService_GetCartProductIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetCartProductIdsResponse" message="tns:IBabyHavenService_GetCartProductIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessCheckout">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/ProcessCheckout" message="tns:IBabyHavenService_ProcessCheckout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/ProcessCheckoutResponse" message="tns:IBabyHavenService_ProcessCheckout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/Checkout" message="tns:IBabyHavenService_Checkout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/CheckoutResponse" message="tns:IBabyHavenService_Checkout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetInvoice" message="tns:IBabyHavenService_GetInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetInvoiceResponse" message="tns:IBabyHavenService_GetInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetItem" message="tns:IBabyHavenService_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetItemResponse" message="tns:IBabyHavenService_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getallitems">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/Getallitems" message="tns:IBabyHavenService_Getallitems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetallitemsResponse" message="tns:IBabyHavenService_Getallitems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetallInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyHavenService/GetallInvoices" message="tns:IBabyHavenService_GetallInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyHavenService/GetallInvoicesResponse" message="tns:IBabyHavenService_GetallInvoices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBabyHavenService" type="tns:IBabyHavenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdmin">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdmin">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/AddAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdminTEST">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/AddAdminTEST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsersByName">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/SearchUsersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToCart">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/AddToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalCartPrice">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetTotalCartPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCartItemsForClient">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetAllCartItemsForClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartProducts">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetCartProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuantity">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRemoveProductFromCart">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/AddRemoveProductFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProductFromCart">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/RemoveProductFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductImage">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetProductImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductName">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetProductName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductCategory">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetProductCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDescription">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetProductDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPrice">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetProductPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductAvailability">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetProductAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getallproducts">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/Getallproducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductCat">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/getProductCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingleProd">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/getSingleProd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addproducts">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/Addproducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminaddProds">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/AdminaddProds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProds">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/RemoveProds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartProductIds">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetCartProductIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessCheckout">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/ProcessCheckout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/Checkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getallitems">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/Getallitems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetallInvoices">
      <soap:operation soapAction="http://tempuri.org/IBabyHavenService/GetallInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BabyHavenService">
    <wsdl:port name="BasicHttpBinding_IBabyHavenService" binding="tns:BasicHttpBinding_IBabyHavenService">
      <soap:address location="http://localhost:63329/BabyHavenService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>